<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Weather</title>
</head>
<body>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card " style="width: 100%; max-width: 1080px;">
            <%- include("weather_dashboard.ejs",{
                geoData: geoData,
                weatherData: weatherData,
                weatherImgSrc: weatherImgSrc}) %>
            <div class="row g-0 px-3 py-3"><canvas id="forecast"></canvas></div>
        </div>
    </div>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- include("weather_forecast.ejs",{weatherData: weatherData}) %>
</body>
</html>

